.game_participants {
  border: thin solid var(--dark-gray);  
  width: 50%;

  &__header {
    display: flex;
    list-style: none;

    &___label {
      border-right: thin solid var(--dark-gray);
      border-top: 0;
      font-size: 12px;
      padding: 10px 20px;
      width: 40%;
    }
  }
  
  &__details {
    background: 0;
    border: 0;
    display: flex;
    text-align: left;
    transition: all .35s ease-out;
    width: 100%;

    &[data-active='true'] {
      background: var(--light-green);

      &:hover {
        background: var(--light-green);
      }
    }
    
    &:hover {
      background: var(--lighter-green);
    }

    &___field {
      background: 0;
      border: 0;
      border-right: thin solid var(--dark-gray);
      border-top: thin solid var(--dark-gray);
      font-size: 12px;
      padding: 10px 20px;
      width: 40%;

      &[data-action] {
        cursor: pointer;        
      }

      &:last-child {
        border-right: 0;
        cursor: pointer;
        width: 20%;

      }
    }
  }
}